.app {
  /* background-color: #e7e7e3; */
  background: linear-gradient(
    50deg,
    rgb(240, 96, 245),
    rgb(142, 201, 218),
    rgb(240, 148, 43),
    rgb(213, 247, 60)
  );
  height: 100vh;
  display: grid;
  place-items: center;
}
.app__body {
  display: flex;
  background-color: rgb(252, 252, 231);
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 1.5);
  border-radius: 40px;
}
